<!DOCTYPE html>
<html>
<head>
  {% load static  %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<h1 class="page-title" style="text-align:center;">Create Product</h1>

<form enctype="multipart/form-data" method="post">
  {% csrf_token %}

  <label>Name</label>
  <input type="text" name="name"  placeholder="Product name">

  <label>Price</label>
  <input type="number"  name="price"  placeholder="Price">

  <label>Product Image</label>
  <input type="file" name="image" accept="image/*">

  <label>Description</label>
  <textarea rows="5" name="desc" placeholder="Product description"></textarea>

  <div class="button-row">
    <a href="{% url 'home' %}"><button type="button" class="btn cancel-btn">Cancel</button></a>
    <button type="submit" class="btn save-btn">Save</button>
  </div>
</form>

</body>
</html>
