<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">

</head>
<body>

<h1 class="page-title" style="text-align:center;">Create Product</h1>

<form enctype="multipart/form-data">

  <label>Name</label>
  <input type="text" placeholder="Product name">

  <label>Price</label>
  <input type="number" placeholder="Price">

  <label>Product Image</label>
  <input type="file" accept="image/*">

  <label>Description</label>
  <textarea rows="5" placeholder="Product description"></textarea>

  <div class="check-row">
    <input type="checkbox" id="active">
    <label for="active" class="check-label">Is Active</label>
  </div>

  <div class="button-row">
    <button type="button" class="btn cancel-btn" onclick="window.location.href='index.html'">Cancel</button>
    <button type="submit" class="btn save-btn">Save</button>
  </div>
</form>

</body>
</html>
