<!DOCTYPE html>
<html>
<head>
  {% load static  %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<h1 class="page-title" style="text-align:center;">Delete Product</h1>

<form method="post">
  {% csrf_token %}
  <div class="delete-box">
  <h3>Are you sure you want to delete <strong>{{ product.name }}</strong>?</h3>
  <p>This action cannot be undone.</p>

  <br>

  <button class="btn-danger" type="submit">Yes, Delete</button>
  <a class="btn-outline" href="{% url 'home' %}">Cancel</a>
</div>
</form>

</body>
</html>
