<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="navbar">
  <div class="container nav-content">
    <a class="brand" href="index.html">PremiumShop</a>
  </div>
</div>

<div class="container">
  <h1 class="page-title">Product Detail</h1>

  <div class="card" style="max-width: 600px; margin:auto;">
    <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff">
    <div class="card-body">
      <h3 class="card-title">Nike Air Max</h3>

      <p class="price">$120</p>
      <p class="desc">
        Premium comfort and high-end design. Lightweight and flexible.
      </p>

      <a class="btn-outline" href="index.html">Back</a>
      <a class="btn" href="update.html">Edit</a>
      <a class="btn-danger" href="delete.html">Delete</a>
    </div>
  </div>

</div>

</body>
</html>
